<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Vente du lot</th>
            <th>Objets du lot</th>
            <th>Moyenne des estimations des objets du lot (en €)</th>
        </tr>
    </thead>
    <tbody>
    {% for l in lots %}
        <tr>
            <td>{{ l.id }}</td>
            <td>{{ l.nom }}</td>
            <td>{{ l.description }}</td>
            <td>
                <a href={{path('getVente', {id_vente: l.venteLot.id})}}>{{l.venteLot.nom}}</a>
            </td>
            <td>
                <a href={{path('objetsLot', {idLot: l.id})}}>{{l.nom}}</a>
            </td>
            <td>{{ l.getMoyenneEstimationObjets()}} €</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
