<table>
    <thead>
    <tr>
        <th>
            Numéro
        </th>
        <th>
            Nom
        </th>
        <th>
            Numéro Rue
        </th>
        <th>
            Rue
        </th>
        <th>
            Code Postal
        </th>
        <th>
            Ville
        </th>
        <th>
            Date
        </th>
    </tr>
    </thead>
    <tbody>
    {% for e in expositions %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nom }}</td>
            <td>{{ e.numeroRue }}</td>
            <td>{{ e.rue }}</td>
            <td>{{ e.codePostal }}</td>
            <td>{{ e.ville }}</td>
            <td>{{ e.date|date("d/m/Y H:i:s") }}</td>
            <td><a href="{{ path('objetsExposition', {idExpo: e.id}) }}">Consulter les objets de l'exposition {{ e.nom }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
