{% extends 'base.html.twig' %}

{% block title %}Liste des expositions de la vente {{ vente.nom }}{% endblock %}

{% block body %}
    <h1>Voici la liste des expositions de la vente {{ vente.nom }} :</h1>
    {{ include('exposition/_liste_expositions.html.twig', {expositions: vente.expositions })}}
{% endblock %}
