{% extends 'base.html.twig' %}

{% block title %}Liste des expositions{% endblock %}

{% block body %}
    <h1>Voici la liste des expositions :</h1>
    {{ include('exposition/_liste_expositions.html.twig') }}
{% endblock %}
