{% extends 'base.html.twig' %}

{% block title %}Liste des expositions dans lesquelles figure l'objet {{ objet.nom }}{% endblock %}

{% block body %}
    <h1>Voici la liste des expositions dans lesquelles figure l'objet {{ objet.nom }} :</h1>
    {{ include('exposition/_liste_expositions.html.twig', {expositions: objet.expositions}) }}
{% endblock %}
