{% extends "base.html.twig" %}
    {% block title %}Liste des objets de l'exposition {{ exposition.nom }}{% endblock %}
    {% block body %}
        <h1>Liste des objets de l'exposition {{ exposition.nom }}</h1>
        {{ include('/objet/_object_list.html.twig', {objets: exposition.objets}) }}
    {% endblock %}