<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Catégorie</th>
            <th>Région</th>
            <th>Commissaire-priseur de la Vente</th>
            <th>Expositions de la vente</th>
            <th>Lots de la vente</th>
        </tr>
    </thead>
    <tbody>
        {% for v in ventes %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.nom }}</td>
                <td>{{ v.date|date("d/m/Y H:i:s") }}</td>
                <td>{{ v.categorieVente.nom }}</td>
                <td>{{ v.regionVente.nom }}</td>
                <td>{{ v.commissairePriseur.nom }}</td>
                <td><a href={{path('expositionsVente', {id_vente: v.id})}}>Consulter les expositions liées à la vente {{ v.nom }}</a></td>
                <td><a href={{path('getLotsDuneVente',{id_vente: v.id})}}>Consulter les lots de la vente {{ v.nom }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>