{% extends 'base.html.twig' %}

{% block title %} Voici des détails de la vente {{ vente[0].nom }}{% endblock %}

{% block body %}
    <h1>Voici les détails de la vente {{ vente[0].nom }}</h1>
    {{ include('vente/_liste_ventes.html.twig', {ventes: vente}) }}
{% endblock %}
