{% extends 'base.html.twig' %}

{% block title %}Liste des ventes{% endblock %}

{% block body %}
    <h1>Voici la liste des ventes</h1>
    {{ include('vente/_liste_ventes.html.twig') }}
{% endblock %}
