<table>
    <thead>
    <tr>
        <th>
            Numéro
        </th>
        <th>
            Nom
        </th>
        <th>
            Description
        </th>
        <th>
            Estimation
        </th>
        <th>
            Nom du lot
        </th>
        <th>
            Voir les expositions
        </th>
    </tr>
    </thead>
    <tbody>
    {% for o in objets %}
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.nom }}</td>
            <td>{{ o.descriptionObjet }}</td>
            <td>{{ o.estimation }}</td>
            <td>{{ o.lot.nom }}</td>
            <td><a href="{{ path('expositionsObjet', {id_objet: o.id}) }}">Consulter les expositions dans lesquelles figure l'objet {{ o.nom }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>