{% extends 'base.html.twig' %}

{% block title %}Liste des objets du lot {{ lot.nom }}{% endblock %}

{% block body %}
    <h1>Liste des objets du lot {{ lot.nom }}</h1>
    {{ include('objet/_object_list.html.twig', {objets: lot.objets }) }}
{% endblock %}
