{% extends 'base.html.twig' %}

{% block title %}Informations de la catégorie {{ categorie.nom }}{% endblock %}

{% block body %}
    <h1>Voici les informations de la catégorie {{ categorie.nom }}</h1>
        <section>
            <h2>Ventes de la catégorie {{ categorie.nom }}</h2>
            {{ include('vente/_liste_ventes.html.twig', {ventes: categorie.listeVentes}) }}
        </section>
{% endblock %}
